.card {
  box-shadow: 5px -3px 12px -4px rgba(0, 0, 0, 0.58);
  box-shadow: inset 0px 0px 34px -17px rgba(0, 0, 0, 0.38);
  border-radius: 7px;
  margin-bottom: 15px;

  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.8em;
  z-index: 10;
}

.card-condensed {
  max-height: 50.6em;
}

.card-header {
  box-shadow: 0px -4px 33px 5px rgba(0, 0, 0, 0.22);
  box-shadow: inset 0px 0px 34px -17px rgba(0, 0, 0, 0.38);
  background-color: #48a23f;
  font-size: x-large;
  font-weight: bold;
}

.card-body {
  width: 98%;
  display: flex;
}

.card-body-heading {
  font-weight: bold;
}
.card-body-condensed {
  max-height: 7.2em;
}

.card-members-list {
  flex: 2;
}

.card-main-mission {
  flex: 5;
}

.card-edit {
  font-size: medium;
  color: whitesmoke;
  float: right;
  font-weight: bold;
  z-index: -1;
}
